

# Build artifacts
dist/
build/
*.egg-info/

# Setup Tryton Module
trytond/modules/akademy_classe/setup.py


.__pycache__/
.__pycache__/__init__.cpython-311.pyc
.__pycache__/classe.cpython-311.pyc
.__pycache__/company.cpython-311.pyc
.__pycache__/configuration.cpython-311.pyc
.__pycache__/report.cpython-311.pyc
.__pycache__/report.cpython-38.pyc
. __pycache__/variables.cpython-311.pyc

.setup.py